/**
* Styles for the Editor
* 
*/

body {
	font-family: sans-serif;
	padding: 0;
	margin: 0;
}

.no-js #menu {
	display: none;
}

#input, #output {
	float: left;
	width: 45%;
	border: 1px solid #ccc;
	padding: 3px;
	margin: 0, 5px;
	overflow: auto;
}
.no-js #input, .editor #input { width: 97%; }
.no-js #output, .editor #output { display: none; }

.preview #output { width: 97%; }
.preview #input { display: none; }

/* inspired by: http://designdisease.com/how-to-create-a-clean-modern-css-drop-down-menu */
#menu ul, #menu li {
	margin: 0;
	padding: 0;
	position: relative;
}
#menu:after, #menu ul:after {
	content: '';
	display: block;
	clear: both;
}
#menu li {
	color: #ffffff;
	display: inline-block;
	font-size: 12px;
	min-width: 35px;
	text-align: center;
	text-shadow: 0 -1px 0 #333333;
	
	box-shadow: inset 0 0 0 1px #8a8a8a;
	background: linear-gradient(to bottom, #8a8a8a 0%, #707070 50%, #626262 51%, #787878 100%);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#8a8a8a', endColorstr='#787878', GradientType=0);
	filter: none;
	border: 1px solid #5d5d5d;
	border-left: 0px none;
	line-height: 32px;
	padding: 0 10px;
	cursor: pointer;
}
#menu ul {
	list-style: none;
}
#menu > ul > li {
	float: left;
}

#menu > ul > li:hover {
	background: linear-gradient(to bottom, #646464 0%, #4a4a4a 100%);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#646464', endColorstr='#4a4a4a', GradientType=0);
	filter: none;
}
#menu > ul > li:first-child {
	border-radius: 5px 0 0 5px;
	border-left: 1px solid #5d5d5d;
}
#menu > ul > li:last-child {
	border-radius: 0 5px 5px 0;
}
#menu li ul {
	display: none;
	position: absolute;
	top: 32px;/* position of sub-menus - important not to loose focus */
	left: -1px;
	min-width: 100%;
	text-align: center;
	z-index: 5;
}
#menu li:hover ul {
	display: block;
}
#menu li ul li {
	border-top: 0 none;
	border-left: 1px solid #5d5d5d;
	display: block;
	line-height: 120%;
	padding: 9px 5px;
	text-align: center;
}

#menu select {
	font-size: 1.3em;
	min-width: 50%;
}

/* Table of Contents */
div#toc {
	position: fixed;
	border: 1px solid #333;
	top: 50px;
	right: 10px;
	padding: 10px;
	background: #fff;
	z-index: 2;
}

div#toc a {
    color: #000;
    text-decoration: none;
    display: list-item;
    font-size: 70%;
    margin-left: 1em;
    margin-top: 5px;
}
div#toc a.indH2 {
    margin-left: 2em;
}
div#toc a.indH3 {
    margin-left: 3em;
}
div#toc a.indH4 {
    margin-left: 4em;
}
div#toc a.indH5 {
    margin-left: 5em;
}

