
#innertoc {
	position:fixed;
	border:1px solid #333;
	top:0;
	right:10px;
	padding:10px;
	background:#fff;
	z-index:2;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	zoom: 1;
	filter: alpha(opacity=80);
	opacity: 0.8;
}
#contentheader {
	cursor:pointer;
}
div#innertoc a.indH3 {
    margin-left: 3em;
}
div#innertoc a.indH4 {
    margin-left: 6em;
}
div#innertoc a.indH5 {
    margin-left: 8em;
}

div#innertoc a {
    color:#000;
    text-decoration:none;
    display: list-item;
    font-size: 90%;
    margin-left: 16px;
    margin-top: 5px;
}
